/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER AND FOOTER
    3. =NAVIGATION
    4. =HERO
    5. =ALL SECTIONS
	6. =ABOUT ME
    7. =MY WORK
    8. =MY RESUME
    9. =CONTACT ME
*/


/* ===1.GLOBAL=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a0949;
    --secondary-color: #39a6b2; 
}

body {
    background: #dbf1fcbe;
    font-family: Garamond, Helvetica, Arial, sans-serif;
}

p {
    color: var(--primary-color);
    font-size: 18px;
}

body h3 {
    color: var(--primary-color);
}

/* ===2.HEADER AND FOOTER=== */

header {
    background-color:  var(--primary-color);
    padding-left: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative; 
    top: -20px;
    color: var(--primary-color);
  }
  
header h1 {
    margin: 0;
    color: var(--primary-color);
}

header h1 a {
    font-size: 35px;
    text-decoration: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    text-shadow: none;
    margin: 5px 0;
    padding: 10px 10px 10px 100px;
    display: flex;
    justify-content: flex-start;
  }

footer {
    background-color:  var(--primary-color);
    width: auto;
    height: 80px;
    padding: 30px;
}

footer h2 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===3.NAVIGATION=== */

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 7px 0;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 6px solid var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-shadow: none;
  }


/* ===4.HERO=== */

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/blue2.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: relative;
    margin-top: -39px;
}

.hero .me-hero-img {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 10px 80px;
    width: 280px;
    height: 300px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:var(--primary-color);
    font-weight: bold;
    font-size: 1.20vw;
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 16px;
}

/* ===5.ALL SECTIONS=== */

.sections {
    margin: 20px 60px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    display: flex;
}

.section-title h3 {
    font-size: 25px;
    color: var(--primary-color);
    padding: 35px;
    margin: 5px;
    text-align: right;
    /*width: 8%;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-right {
    border-left: 3px solid;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 80%;
}


/* ===6.ABOUT ME SECTION=== */

#about-me {
    display: flex;
    justify-content: flex-start;
}

#about-me p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===7.MY WORK SECTION=== */

#my-work {
    display: flex;
}

#my-work span {
    font-weight: lighter;
}

#my-work p {
    font-size: 15px;
}

#my-work .section-title {
    width: 150px;
}

.run-buddy img {
    max-width: 100%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
}

.horiseon img {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
}

.food-forward img {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
}

#my-work .run-buddy img:hover {
    max-width: 100%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
}

#my-work .horiseon img:hover {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
}

#my-work .food-forward img:hover {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
}

.horiseon {
    position: relative;
}

.run-buddy {
    position: relative;
}

.food-forward {
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    background-color: var(--secondary-color);
    background-size: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

.pawpals {
    position: relative;
}

.pawpals img {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
}

#my-work .pawpals img:hover {
    max-width: 50%;
    height: auto;
    padding: 0;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
}

/* ===8.MY RESUME SECTION=== */

#my-resume {
    display: flex;
    justify-content: flex-start;
}

#my-resume .section-right {
    width: 37%;
}

#my-resume p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-resume .section-title {
    width: 150px;
}

#my-resume h3 {
    padding-left: 0px;
}


/* ===9.CONTACT ME SECTION=== */

#contact-me .section-title {
    width: 150px;
}

#contact-me h3 {
    padding-left: 0px;
}

#contact-me .section-right {
    width: 20%;
}

#contact-me ul {
    display: flex;
    list-style: none;
  }

#contact-me ul li {
    margin: 10px;
}

#contact-me ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--secondary-color);
    text-decoration: none;
    border: 6px solid var(--secondary-color);
    font-size: 23px;
}

#contact-me ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-shadow: none;
}


/*The small screens media queries versions will look different than the Lernantino mock-up 
because I thought different design for smaller screens would look better*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {


.section-title h3 {
    font-size: 26px;
    padding: 25px;
    white-space: nowrap;
}

#my-resume .section-title {
    width: 150px;
}

#my-resume h3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#contact-me .section-title {
    width: 150px;
}

#contact-me h3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#about-me {
    margin-top: 30px;
    margin-bottom: 5px;
}

#my-work {
    margin-bottom: 40px;
}

#contact-me ul li a {
    border: 3px solid var(--secondary-color);
    font-size: 2vw;
}

#contact-me ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
    
footer {
    padding: 15px;
    padding-bottom: 18px;
    height: 20px;
}
    
footer h2 {
    font-size: 18px;
    height: 2px;
    font-weight: normal;
}
}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

.sections {
    margin: 20px 60px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
    
.section-title h3 {
    padding-top: 0;
    padding-bottom: 16px;
    margin-left: 230px;
    margin-bottom: 35px;
    border-bottom: 3px solid var(--primary-color);
    margin-top: 35px;
    white-space: nowrap;
}
    
.section-title h3 br {
    display: none;
}
    
.section-right {
    border-left: none;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 80%;
}
    
#about-me {
    margin-bottom: 0px;
    padding-bottom: 5px;
}
    
#about-me p{
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    width: 120%;
    font-size: 20px;
}

#my-work {
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.bottom-left {
    padding: 5px;
}

.run-buddy img {
    max-width: 120%;
    border: 10px solid var(--secondary-color);
}

.horiseon img {
    max-width: 80%;
    border: 10px solid var(--secondary-color);
}
	  
.food-forward img {
    max-width: 120%;
    border: 10px solid var(--secondary-color);
}

.bottom-left p span {
    font-size: 10px;
}

#my-resume {
    padding-bottom: 0px;
    margin-bottom: 0px;

}

#my-resume p {
    font-size: 20px;
}

#my-resume h3 {
    margin-left: 225px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    align-content: center;
}

#my-resume .section-right {
    width: 100%;
}

#contact-me h3 {
    margin-left: 225px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#contact-me .section-right {
    width: 100%;
}

#contact-me ul {
    padding-left: 50px;
}

#contact-me ul li a {
    border: 3px solid var(--secondary-color);
    font-size: 2.4vw;
}

#contact-me ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    padding: 15px;
    padding-bottom: 18px;
    height: 10px;
}

footer h2 {
    font-size: 12px;
    height: 5px;
    font-weight: normal;
}
}
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

header h1 a {
    background-color: var(--secondary-color);
    padding-left: 12px;
    font-size: 35px;
}

header h1 {
    margin-top: 22px;
    margin-left: 100px;
}

header {
    padding-left: 80px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.3vw;
    border-bottom: 4.5px solid var(--secondary-color);
}

.hero .me-hero-img {
    width: 200px;
    height: 200px;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 14px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.20vw;
    background-color: var(--secondary-color);
    padding: 5px;
}


.sections {
    margin: 20px 60px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}


.section-title h3 {
    padding-top: 0;
    padding-bottom: 16px;
    margin-left: 140px;
    margin-bottom: 35px;
    border-bottom: 3px solid var(--primary-color);
    margin-top: 35px;
    white-space: nowrap;
}

.section-title h3 br {
    display: none;
}


.section-right {
    border-left: none;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 80%;
}

#about-me {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

#about-me p{
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
    width: 120%;
}

#my-work {
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.bottom-left {
    padding: 5px;
}

.bottom-left p span {
    font-size: 10px;
}

#my-resume {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#my-resume h3 {
    margin-left: 140px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    align-content: center;
}

#my-resume .section-right {
    width: 100%;
}

#contact-me h3 {
    margin-left: 140px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#contact-me h3 br {
    display: none;
}

#contact-me .section-right {
    width: 100%;
}

#contact-me ul {
    padding-left: 12px;
}

#contact-me ul li a {
    border: 3px solid var(--secondary-color);
    font-size: 2.4vw;
}

#contact-me ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    padding: 15px;
    padding-bottom: 18px;
    height: 10px;
}

footer h2 {
    font-size: 12px;
    height: 5px;
    font-weight: normal;
}
}




